body {
    margin: 0;
    align-items:center;
    font-family: "Amazon Ember", Arial, sans-serif;
}
.header1 {
    height: 36px;
    color: rgb(255, 255, 255);
    background-color:#11141b;
    display: flex;
    margin: 0;
    list-style: none;
    padding: 10px;
    align-items: center;
    width: 100%;
    padding-left: 0;
    justify-content: space-between;
}

.address {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    padding-right: 10px ;
    align-items:center ;
    gap: 3px;
}

.location {
    display: flex;
    flex-direction: column;
}

.location span {
    line-height: 1;
}

.location-logo {
  margin-top: 15px;
  margin-left: 10px;
}

.Deliver {
    color: #c7c7c7;
    font-size: small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}


.Search-bar {
    display: flex;
    margin:0;
    border:none;
    padding:0;
    height: 38px;
}

.all-btn {
  border-radius: 4px 0px 0px 4px ;
  font-family:Monospace;
  font-size: 11px;
  padding-left: 5px;
  background-color: #e4e4e4 ;
  width: 48px;
  height: 38px;
  border: none;
  color: #505050;
}

.Search-input {
  margin: 0;
  padding: 0;
  width: 785px;
  border-radius: 0;
  border: none;
  font-size: 15px;
  padding-left: 10px;
}

.Search-logo {
    background-color: #febd69;
    border: none;
    border-radius: 4px 0px 0px 4px;
    color: rgb(0, 0, 0);
    width: 42px;  
    font-size: 40px; 
    display: flex;
    align-items: center;
    transform: scaleX(-1);
}

.lang {
    background-color: #11141b;
    color: white;
    border: none;
}


.line1 {
    font-size: small;
}

.line2 {
    font-weight: bold;
}

.shopping-cart {
    display:flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    padding-right: 10px ;
    align-items:center ;
    gap: 0px;
}


.cart {
    padding-top: 20px ;
    padding-right: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
}


.header2 {
    background-color: #242f3e;
    display: flex;
    list-style: none;
    gap: 15px;
    color: white;
    margin: 0;
    height: 38px;
    align-items: center;
    padding-left: 6px;
    width: 100%;
}

.h {
    font-size: 30px;
    padding-right: 0;
}

nav a {
    text-decoration: none;
}
.header3 {
    background-color: #f5f5f5;
    padding-left: 20px;
    height: 34px;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-bottom: 1px #e0e0e0 solid;
    gap: 20px;
    width: 100%;
}
.header3 nav {
    display: flex;
    gap: 20px;
}


.add {
    border: #c7c7c7 1px solid;
    display: flex;
    margin: 0;
    align-items: center;
    height:55px;
    cursor: pointer;
    width: 100%;
}
.add p {
    margin: 0 20px;
}
.add a {
    text-decoration: none;
}
.add img {
    object-fit: contain;
    margin-right: 30px;
}
.shop:hover {
  text-decoration: underline;
}

.Sponsored-btn {
    display: flex;
    font-size: smaller;
    color: #555555;
    width: fit-content;
    margin-left:auto;
    margin-top: auto;
    padding-right: 8px;
    cursor: pointer;
}


.electronics {
    display: flex;
    font-size: small;
    padding-left: 15px;
    padding-bottom: 22px;

}
.electronics a {
    color: #565959;
}
.electronics a:hover {
    text-decoration: underline;
}


main {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding: 30px;
}
.side-pictures {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: sticky;
    top: 20px;
}
.side-pictures img {
    width: 40px;
    height: 40px;
    border: #888c8c solid 1px;
    border-radius: 12px;
    cursor: pointer;
}
.side-pictures img:hover {
    border: #2162a0 solid 1px;
}
.product-img {
    position: sticky;
    top: 20px;
}

.main-img {
    display: flex;
    padding-left: 2px;
    margin-left: 0;
}

.full-view-btn {
    display: flex;
    align-items: center;
    margin-left: 65px;
}

.specs {
    display: flex;
    flex-direction: column;
    font-size: 22px;
}

.rating {
  font-size: 15px;
  color: #ff6200;
}
.rate-num {
    color: black;
}
.half-star {
  position: relative;
  display: inline-block;
  color: lightgray;
}
.half-star::before {
  content: "★";
  color: #ff6200;
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.Amazons-Choice{
    background-color: black;
    color: white;
    width: 20%;
    border-radius: 4px;
    font-size: 14px;
}

.camera-dtl {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    list-style: none;
    gap: 8px;
}
.set {
    padding-top: 8px;
    color: #545757;
}
.camera-price {
    font-size: 30px;
    margin: 0;
}
.About-this-item{
    font-size: 15px;
}


hr{
    border:none;
    border-top:1px solid #ddd;
    margin:15px 0;
}



.available-prod {
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    gap: 15px;
}
.avail-info {
    display: flex;
    flex-direction: column;
}
.avail-price {
    display: flex;
    gap: 4px;
    margin-top: 10px;
    align-items: center;
}
.avail-main-price {
    color: #c10015;
}

.avail-ship-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    color: #545757;
}
.avail-works {
    color: #545757;
    width: 600px;
    margin-top: 0;
}



.add-to-cart {
    background-color: #ffd815;
    border-radius: 18px;
    border: none;
    width: 225px;
    padding: 10px 20px 10px 10px;
    align-items: center;
}

.location-logo2 {
    font-size: 1px;
}
.quantity,
.list,
.others{
    border:1px solid #d5d9d9;
    border-radius:8px;
    margin: 15px;
    margin-bottom:15px;
    padding:15px;
}

.add-to-list{
    width:225px;
    padding: 10px;
    border:1px solid #888;
    border-radius:8px;
    background:white;
    padding-right: 150px;
}


.products {
    padding-left: 10px;
    display: flex;
    gap: 20px;
}
.card {
    width: 220px;
}
.card img {
    width: 100%;
}
.card a {
    text-decoration: none;
    color: #2162a0;
    font-size: 18px;
}
.price {
    color: #000000;
    font-size: 22px;
}


.Customers-viewd,.brand,.prod-desc {
    padding-left: 20px;
}
.empty-star {
  position: relative;
  display: inline-block;
  color: lightgray;
}
.brand-catagory {
    display: flex;
    margin-top: 30px;
    background-color: #f9f9f9;
}
.big-img img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.three-imgs {
    display: flex;
    gap: 10px;
}
.c-card {
    width: 180px;
    border: 1px solid #ddd;
    padding: 10px;
}
.c-card img {
    width: 100%;
}
.c-card p {
    font-size: 16px;
}

.pdf-guide {
    font-size: 15px;
    padding-left: 10px;
}

.Product-Description{
    font-size: 14px;
    color: #333333;
}
